{
    "delay": 30,
    "discord_webhook": "",
    "exclude": "",
    "hostname": "Loremipsumdolorsitamet",
    "slack_webhook": "",
    "subnet": "",
    "teams_webhook": "",
    "timeout": 1,
    "verbosity": 2,
    "syslog_address": "",
}