{
    "discord_webhook": "",
    "exclude": "",
    "hostname": "Loremipsumdolorsitamet",
    "slack_webhook": "",
    "subnet": "",
    "syslog_address": "",
    "teams_webhook": "",
    "test_webhooks": false,
    "log_file": "/var/log/respotter.log",
    "verbosity": 2
}